[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
einops = "*"
pyyaml = "*"
numpy = "*"
opencv-python = "*"
rospkg = "*"

[dev-packages]

[requires]
python_version = "3.6"
